body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;

    background-color: #111111;
    margin: 0;
    overflow-x: hidden;
}
  
.bg {
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 200vh;
    background: transparent url('https://lh3.googleusercontent.com/uBGEavxvgM_Nh1e9UpbIACrExffpIfe06l2GZIUjopF_lcA2XvivvMEnpdNitBM2kcyGghUigvgJ7f1c5p4jvaZTFY4GEA08EfgoaU7pyKm22RRV7ypp4iL1c8q8tFTANnL7VzW9xmE4EHlG7w-AcYVgjL99R8FgPNRGW5hrcVFHshKXL87yzc_Z7hxy_vmUJIF3Al51r1PyJJ1IN1PJewyl6sjGJpzN6fgMWxrcJlGpYfVYK-gZ7I0Ntj8gHmLcCEuNqkAjOxC5h0SWt0xHMblMaVtwx78mvWv6Gp36Lj5CVEE5MimmPVkdJotgAlkSSbjl_mgFNrp7mRs6sDoIPHDHR2RfTROge9SRhkRK_2-PgsPvXNqVRIHluqcHTjT-_pGTX4wI1boJwgYRkZ8zLjYxHNnl4wmkhfgOIgpqVsh4VAAga6T6gpQbTfPkYbkcvzdn4VUJMw9H83TFNRsmnsuP4rOP6y5Yr56xHTpyieKhM4V4VLqvxLh7syCLFRsrVFWcCEY5vwdteM7Iog0l3rkw2sRC3yWDH0gytqgVyRAEyB_ts1-3c9bDVKkMQaHkwgbZFPJEBJ2B8FV4djjhBUgpJ2UBk8HAnK0CzWS1uaQ6kbjFsyZmUXLKUK1g0T244tsReTMsGMm3tXEFPnc3WC9Vs0U_eIfg9yog03UhNfkuV8N95ZKnIYZxZ6cr0_IpWxVBlJveEOO_1aRhIarjHesKzDwqlD_IXMxRj3GoC4dXSGYmvviXrg-59gFPcvfUzqTPEnEHuV7PldmayLMSz2b4BFJJckrNGWUm1DcYTm3FP9WtR4BVrBgIY-mcuRBA0IWlS6USU7tM7mUK6s9aAMu4c6gnczQkdAfx9ktReMIDEnpx5B2Wb9tlJwvZlHNWntpr16a2IKljug6hoeI0mxGryVbYexBfLHGBOGxzBmLDAooSRG4PY7tI81QVNZAixFvw6Ze3aYnZf2pIerad8zcS4aPYXBjMSmucyQxFRhmbw0ybNQ=s145-no?authuser=0') repeat 0 0;
    background-repeat: repeat;
    animation: bg-animation .2s infinite;
    opacity: .8;
    visibility: visible;
    z-index: -999;
}
  
@keyframes bg-animation {
     0% { transform: translate(0,0) }
      10% { transform: translate(-5%,-5%) }
      20% { transform: translate(-10%,5%) }
      30% { transform: translate(5%,-10%) }
      40% { transform: translate(-5%,15%) }
      50% { transform: translate(-10%,5%) }
      60% { transform: translate(15%,0) }
      70% { transform: translate(0,10%) }
      80% { transform: translate(-15%,0) }
      90% { transform: translate(10%,5%) }
      100% { transform: translate(5%,0) }
}


.container-fluid{
    padding-right: 0px;
}
.navbar{
    padding: 0px;
    height: 85px;
}
.nav-item{
    padding: 22px 70px;
}
.nav-item-c{
    padding: 22px 70px;
    background: #A770EF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.navbar-dark .navbar-nav .nav-item-c .nav-link{
    font-size: large;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    color: #000000;
}

/* lines */

.vl {
    border-left: 1px solid rgb(175, 175, 175);
    height: 1080px;
    position: absolute;
    left: 90px;
    /* margin: -3px; */
    top: 0;

}

hr{
    color: white;
    opacity: 0.9;
    margin: 0;
}

.verticaltext_content {
    -webkit-transform: rotate(-90deg) scale(1, .8);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    left: -108px;
    top: 210px;
    position: absolute;
    color: #FFF;
    font-size:80px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 3px;

    /* font-weight: 500; */
}

.vertical-text{
    -webkit-transform: rotate(-90deg) scale(1, .8);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    position: absolute;
    color: #FFF;
    top: 650px;
    left: -160px;
    height: 80px;
    width: 233px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

.main-text{
    font-size: 100px;
    color: #FFF;
    margin: 0px;
    top: 370px;
    left: 1000px;
    padding-right: 115px;
    line-height: 100px;
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    transform: scale(1.3, .9);
    text-align: right;
}

/* .filter {
    filter: url("#turb");
    position: absolute;
} */
  
svg { 
    width: 400px;
    height: 400px;
    position: absolute;
    left: 224px;
    bottom: -111px; 
}

.bgcircle{
    background: url(https://lh3.googleusercontent.com/dvBH7TGaLsbppQT2TEtW_hulqTljZ9Ar1iCflSqFvvBGXW55ZFz-fhwHk9fhdqFsE8PVQ1rPq0c32Xj95A783Ijk4QHpJkPk4XD_EMe9v-FiPePtBAd73FfflPD4Et6kS9lks2VkHl40fjJKTeBa3vtKnvapW_RV_JtjOQQeF8vrGt3ZaIFjLZ8Cen4ozAccMX-DAJryfpjspdhaGEmeMbmrMG1XaPRBvqOLnXrSyQbi8N4u8_IOWLzJph_0_wUOEA5lk0fzUHQ1E-SOEN7CeV8fLc2yuokMAD0pUhxIpiNtNM_cPY4j3bg46LxNMiLLeOVQ_qndn00wtIEby22KoFRX9fZq56Cj9XiYViS8QiYBtxL2zTMMt96ooOzJZdf7VSUajTphl9V1EozYxbepAU36eqv2Lxf8caDV_80O5dNlSf3_cg6pZz9_qM1qT7yaVllgqPfBHwHo2ZH_BtCO_JBcyGIaDd70B5f6pC_-oSehaDTdLb4MClnZdeWTuq_IS3D7XmJdnDI3UbapJjBdbz7fbwby2lmJDshD_m-qkkGyfqaAvhdN4fJWlL_as1oGQBNcAM5PGLMCiI41oOhY_fxfXg9N-eDw7fyr8aPnXMTjVrsxjVT7jNB05ewk1XNH49OxGgghRsGHkiU2m5f7R7HPrmc_0dyimM6e7RLNwV5q4tFDFXN2eTQ6kCLlcXZJ-5wdeO1-hFo-O3cGt2QQ1HA6ImlfpISlykvWz0RG2fBq9x953z82UUbEtF-DxQyDUO5Koos4WT02IoGkAEwAlbgWFN8ldrw1shGHTcEgjc36NT87lpb5h8aMo4w5GNS4mdCJWmvjESzchLweCpJ4fODksRRju18731SgrE7bBAx2MWP3vZ2fES-2-AzCvBFYgP0sD7a1OePmaJgGsyrqFhlTolgS7hoKaGkl-o91GIjG9dE2ziYYgwozw7LCf2iTg5fEdeGeQG9MGdscqr-VbiWEr1iF34ge48Z43bI1Dk9O61VWCg=w374-h280-no?authuser=0);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-size: cover;
    left: 349px;
    bottom: -86px;
    position: absolute;

}

svg textPath { 
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    /* letter-spacing: 20px; */
    fill: #fff;;
}
