body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #111111;
    margin: 0;
    overflow-x: hidden;
    font-size: 1.893491124260355vh;
    color: #FFF;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.info-1 {
    width: 5.9171597633136095vh;
}

/* background effects */

.bg {
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 200vh;
    background: transparent url("https://github.com/OnnPoynt/BiSTE/blob/main/image_files/145-100-40-monochrome.png?raw=true") repeat 0 0;
    background-repeat: repeat;
    animation: bg-animation .2s infinite;
    opacity: .8;
    visibility: visible;
    z-index: -999;
}

@keyframes bg-animation {
    0% {
        transform: translate(0, 0)
    }

    10% {
        transform: translate(-5%, -5%)
    }

    20% {
        transform: translate(-10%, 5%)
    }

    30% {
        transform: translate(5%, -10%)
    }

    40% {
        transform: translate(-5%, 15%)
    }

    50% {
        transform: translate(-10%, 5%)
    }

    60% {
        transform: translate(15%, 0)
    }

    70% {
        transform: translate(0, 10%)
    }

    80% {
        transform: translate(-15%, 0)
    }

    90% {
        transform: translate(10%, 5%)
    }

    100% {
        transform: translate(5%, 0)
    }
}

/* navbar */

header a {
    text-decoration: none;
}

header {
    /* padding: 10px 0px 10px 6px; */
    padding: 0.7% 0% 0.7% 0.5%;
    height: 5.9171597633136095vh;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid rgb(94, 94, 94);
    align-items: center;
}

#brand {
    font-weight: bold;
    display: flex;
}

#brand a {
    color: #FFF;
}

ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-items: baseline;
}

ul a {
    color: white;
}

ul li {
    padding: 2.1301775147928996vh 10.059171597633137vh;
    margin-left: 10px;
}

ul li:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

li:nth-child(3) {
    background-image: url(https://github.com/OnnPoynt/BiSTE/blob/main/image_files/gradiation_sample_biste.png?raw=true);
    background-size: cover;
    overflow: hidden;
}

li:nth-child(3) a {
    color: #111111;
    font-weight: 500;
    font-family: 'Anek Bangla', sans-serif;
    letter-spacing: 0.04em;
    font-size: 2.1301775147928996vh;
}

#hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
}

#hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.mobile-menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    height: calc(100vh - 5.9171597633136095vh);
    width: 100%;
}

.mobile-menu li {
    margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
    header nav {
        display: none;
    }

    #hamburger-icon {
        display: block;
    }
}


/* lines */

.vl {
    border-left: 0.5px solid rgb(94, 94, 94);
    height: 100%;
    position: absolute;
    left: 80px;
    top: 0;
}

.verticaltext_content {
    transform: rotate(270deg) scale(1, .8);
    top: 24%;
    left: -1.4%;
    position: absolute;
    color: #FFF;
    font-size: 10.3vh;
    font-family: 'Anek Bangla', sans-serif;
}

.verticaltext_content-2 {
    color: #FFF;
    position: absolute;
    top: 38%;
    left: 3.3%;
    writing-mode: vertical-rl;
    font-family: 'Noto Sans JP', sans-serif;
    transform: scale(1, .35);
    font-size: 5vh;
}

.vertical-text {
    transform: rotate(270deg) scale(1, .8);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    position: absolute;
    color: #FFF;
    top: 80%;
    /* left: -56px; */
    left: -3.5%;
    font-family: 'Anek Bangla', sans-serif;
    font-size: 2vh;
    font-weight: 100;
    line-height: 1.2;
}


/* text-effects */

.main-text {
    font-size: 100px;
    /* font-size: 12vh; */
    color: #FFF;
    line-height: 100%;
    right: 9%;
    /* top: 364px; */
    top: 42%;
    margin: 0px;
    position: absolute;
    font-family: 'Anek Bangla', sans-serif;
    transform: scale(1.3, 1);
    text-align: right;
    z-index: 999;
}

.jp-text {
    font-family: 'Noto Sans JP', sans-serif;
    /* font-size: 18px; */
    font-size: 2.1301775147928996vh;
    font-weight: 400;
    color: #FFF;
    position: absolute;
    /* top: 716px; */
    top: 83.5%;
    /* right: 74px; */
    right: 5%;
    text-align: right;
    line-height: 200%;
}

/* picture effects */

.pixels-1 {
    position: absolute;
    height: 640px;
    /* width: 35%; */
    top: 0%;
    left: 10%;
}

.bars-1 {
    position: absolute;
    height: 500px;
    /* top: 208px; */
    top: 24%;
    right: 380px;
}

.bars-2 {
    position: absolute;
    height: 500px;
    /* top: 128px; */
    top: 15%;
    right: 160px;
}


/* circle effects */

.bgcircle {
    border-radius: 50%;
    background-size: cover;
    left: 283px;
    top: 744px;
    overflow: hidden;
    position: absolute;
    width: 240px;
}


#circle {
    width: 100%;
    overflow: hidden;
}

#circle text {
    font-family: 'Anek Bangla', sans-serif;
    font-size: 7.65px;
}

#circle svg {
    position: absolute;
    width: 686px;
    left: 59px;
    top: 522px;

    -webkit-animation-name: rotate;

    animation-name: rotate;

    animation-duration: 10s;

    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

    animation-timing-function: linear;
}


@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);

    }
}

/* first part */

#first-part {
    position: relative;
    /* margin-top: 1080px; */
    margin-top: 110vh;
    text-align: center;
}


.part-1 {
    position: relative;
    display: flex;
    flex-direction: column;
    /* top: -310px; */
    top: -37vh;
}

.bistetxt {
    /* font-size: 110px; */
    font-size: 13vh;
    font-family: 'Anek Bangla', sans-serif;
    z-index: 999;
    transform: scale(1.1, 0.8);
    font-weight: 500;
}

.ptext {
    line-height: 242%;
    /* font-size: 20px; */
    font-size: 2.38vh;
    font-weight: 500;
    letter-spacing: 0.01em;
}

.bgtext {
    /* font-size: 240px; */
    font-size: 29vh;
    transform: scale(1, 1.8);
    font-family: 'Anek Bangla', sans-serif;
    text-align: center;
    opacity: 4%;
    font-weight: 300;
    z-index: -99;
    padding-top: 90px;
}

.images-first {
    display: flex;
    justify-content: space-evenly;
    padding: 0px 60px 80px 60px;
    margin-top: -100px;
}

.firstimgs {
    /* height: 566px; */
    height: 66.98224852071006vh;
}

.images-first img:nth-child(1) {
    /* margin-top: -80px; */
    margin-top: -6%;
}

.images-first img:nth-child(3) {
    /* margin-top: -100px; */
    margin-top: -7.7%;
}

.images-first img:nth-child(4) {
    /* margin-top: -60px; */
    margin-top: -4.6%;
}

.images-first img:nth-child(5) {
    /* margin-top: 10px; */
    margin-top: 1%;
}

.images-first img:nth-child(6) {
    /* margin-top: -100px; */
    margin-top: -7.7%;
}

/* marketing */

#marketing {
    position: relative;
    /* margin-top: 200px; */
    margin-top: 14%;
}

.bgimg-marketing {
    width: 100%;
    z-index: -999;
    position: absolute;
}

.mkt1 {
    /* padding: 130px 70px 120px 77px; */
    padding: 9% 5% 8.5% 6%;
}

.mkt1 :nth-child(2) {
    position: relative;
    /* font-size: 100px; */
    font-size: 12vh;
    font-weight: 500;
    font-family: 'Anek Bangla', sans-serif;
    letter-spacing: -0.04em;
    transform: scale(1.3, 1);
    text-align: left;
    left: 16.5%;
    top: -20px;
}

.mkt1 :nth-child(3) {
    position: relative;
    font-weight: 500;
    line-height: 200%;
    /* padding-left: 30px; */
    padding-left: 2%;
    top: -50px;
}

.img1 {
    width: 44%;
    float: right;
}

.mkt-2 {
    position: relative;
}

.img2 {
    position: absolute;
    float: left;
    /* left: 68px; */
    left: 5%;
    /* top: -130px; */
    top: -45%;
    width: 40%;
}

.mkt-2 :nth-child(2) {
    /* font-size: 32px; */
    font-size: 3.78698224852071vh;
    font-weight: 700;
    margin-left: 50%;
}

.mkt-2 :nth-child(3) {
    font-weight: 400;
    line-height: 200%;
    opacity: 0.9;
    margin-left: 50%;
    margin-top: 24px;
    margin-top: 2%;
}

/* consulting */

#consulting {
    position: relative;
    /* margin: 395px 0px; */
    margin: 35% 0%;
}

.bgimg-consulting {
    position: absolute;
    z-index: -999;
    width: 100%;
}

.ct1 {
    /* padding: 165px 110px 60px 77px; */
    padding: 11% 6.5% 8% 4.5%;
}

.cimg1 {
    float: left;
    position: relative;
    top: -65px;
    width: 45%;
}

.ct1 div:nth-child(2) {
    position: relative;
    /* font-size: 100px; */
    font-size: 12vh;
    font-weight: 500;
    font-family: 'Anek Bangla', sans-serif;
    letter-spacing: -0.04em;
    transform: scale(1.3, 1);
    text-align: right;
    top: -20px;
    right: 15px;
    right: 15%;
}

.ct1 div:nth-child(3) {
    text-align: right;
    font-weight: 500;
    position: relative;
    top: -40px;
}

.ct2 {
    /* padding: 0px 70px 0px 120px; */
    padding: 0% 3.5% 0% 7.5%;
}

.cimg2 {
    float: right;
    position: relative;
    top: -100px;
    /* height: 39%; */
    width: 46%;
}

.ct2 div:nth-child(2) {
    font-weight: 700;
    font-size: 3.78698224852071vh;
    line-height: 150%;
    margin-bottom: 20px;
}

.ct2 div:nth-child(3) {
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 200%;
    opacity: 0.9;
}

/* coming soon */

#coming-soon {
    position: relative;
}

.bgfinal {
    z-index: -999;
    width: 100%;
    position: absolute;
}

.textcs {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* padding-top: 385px; */
    /* margin-bottom: 570px; */
    margin-bottom: 40%;
    padding-top: 27%;

}

.textcs div:nth-child(1) {
    font-weight: 700;
    font-size: 6.627218934911243vh;
    line-height: 110%;
    letter-spacing: 0.2em;
}

.textcs div:nth-child(2) {
    font-weight: 600;
    font-size: 2.8402366863905324vh;
    line-height: 110%;
    transform: scale(1.2, 0.9);
    font-family: 'Anek Bangla', sans-serif;
    padding: 10px 0px 30px 0px;
}

.textcs div:nth-child(3) {
    font-weight: 400;
    line-height: 200%;
}

/* about us */

/* text information */

.about {
    text-align: center;
    font-weight: 300;
    font-size: 15.14792899408284vh;
    transform: scale(1, 0.7);
    font-family: 'Anek Bangla', sans-serif;
}

#profile {
    /* padding-left: 120px; */
    padding-left: 8.5%;
    text-align: left;
}

.info {
    border-bottom: 0.5px solid rgb(94, 94, 94);
    margin-right: 120px;
    padding-bottom: 20px;
    font-weight: 300;
    font-size: 3.78698224852071vh;
    transform: scale(1, 0.9);
}

.info-sub-1 {
    display: flex;
}

.info-sub-1>div {
    /* padding: 60px 300px 20px 0px; */
    padding: 5% 23% 1% 0%;
}

.google{
    color: rgb(197, 197, 197);
    font-family: 'Anek Bangla', sans-serif;
    font-weight: 100;
}


/* mission */

#mission {
    /* padding-left: 120px; */
    padding-left: 8.5%;
    text-align: left;
    margin-top: 90px;
}

.mission-1 {
    font-size: 7.57396449704142vh;
    font-weight: 400;
}

.info-all {
    border-bottom: 0.5px solid rgb(94, 94, 94);
    margin-right: 120px;
    padding-bottom: 20px;
    font-weight: 300;
    /* font-size: 2em; */
    font-size: 3.78698224852071vh;
    transform: scale(1, 0.9);
    font-family: 'Anek Bangla', sans-serif;
}

.mission-info-1 {
    font-weight: 100;
    line-height: 3.5502958579881656vh;
}

/* STANCE */

#stance {
    /* padding-left: 120px; */
    padding-left: 8.5%;
    text-align: left;
    margin-top: 90px;
}



/* contact us  */


/* text */

.uptxt {
    position: relative;
    margin: 0px 0px 0px 8.4%;
}

.contact {
    font-weight: 300;
    font-size: 20.828402366863905vh;
    transform: scale(1, 0.7);
    font-family: 'Anek Bangla', sans-serif;
    /* margin: 0px 0px -60px 0px; */
    margin: 0px 0px -5% 0px;
}

.under-txt {
    margin: 0px;
    font-weight: 300;
}

.tel {
    position: relative;
    font-family: 'Anek Bangla', sans-serif;
    font-size: 2.8402366863905324vh;
    letter-spacing: 0.05em;
}

.tel span {
    position: absolute;
    font-size: 1.6568047337278107vh;
    font-weight: 200;
    color: rgb(210, 210, 210);
    bottom: 40%;
}

/* form */

.formbox {
    padding: 0px 8.4%;
}


input[type=text],
select,
textarea {
    font-size: 1.893491124260355vh;
    background: transparent;
    width: 100%;
    padding: 1.4201183431952662vh;
    border: 2px solid rgb(137, 137, 137);
    border-radius: 1px;
    box-sizing: border-box;
    /* margin: 15px 0px 55px 0px; */
    margin: 1.5% 0 4.5% 0;
    resize: none;
    color: #FFF;
}

/* Style the submit button with a specific background color etc */

input[type=submit] {
    font-size: 1.893491124260355vh;
    background-color: #000000;
    color: white;
    /* padding: 60px 20px; */
    padding: 5% 1%;
    border: none;
    cursor: pointer;
    width: 100%;
}

input[type=submit]:hover {
    background-color: #0e0e0e;
}

.submitbutton {
    margin: 4% 0px;
}


/* contact and footer */

#contact {
    margin-top: 14.201183431952662vh;
    background-color: #E1E1E1;
    height: 75.7396449704142vh;
    position: relative;
}

.background-txt {
    font-size: 23.668639053254438vh;
    transform: scale(1, 2);
    font-family: 'Anek Bangla', sans-serif;
    text-align: center;
    color: #151515;
    opacity: 4%;
    font-weight: 300;
    z-index: -99;
    padding-top: 10.650887573964496vh;
}

.contact-btn {
    position: absolute;
    top: 30%;
    left: 30%;
    z-index: 999;
}

h5 {
    color: #111111;
    font-size: 14.201183431952662vh;
    transform: scale(1, 0.8);
    font-weight: 500;
    font-family: 'Anek Bangla', sans-serif;
    margin: 0;
}

.yes {
    float: right;
    position: absolute;
    left: 120%;
    height: 75%;
    top: 20%;
}

.btn-under {
    color: #111111;
    margin: 0;
    top: 80%;
    position: absolute;
    font-weight: 400;
}

/* footer */

#footer {
    background-color: #151515;
    /* padding: 130px 0px 50px 0px; */
    padding: 9% 0% 6% 0%;
    z-index: 999;
}


.stuff {
    z-index: 999;
    /* padding: 0px 200px; */
    padding: 0% 11.5%;
    font-weight: 400;
    margin-top: 30px;
}

.footerbtns {
    color: #FFF;
    font-family: 'Anek Bangla', sans-serif;
    float: right;
    padding: 10px 30px 0px 30px;
    /* font-size: 20px; */
}

.last {
    color: rgb(157, 157, 157);
    font-family: 'Anek Bangla', sans-serif;
    z-index: 999;
    display: flex;
    justify-content: flex-end;
    font-weight: 100;
    transform: scale(1.35, 1);
    margin-right: 16.5%;
    padding-top: 20px;
}






@media screen and (min-width: 1920px) {

    .main-text {
        font-size: 12vh;
    }

    .pixels-1{
        width: 35%;
        height: auto;
    }

    .bars-1{
        width: 12.7%;
        height: auto;
        right: 26.65%;
    }

    .bars-2{
        width: 12.7%;
        height: auto;
        right: 11.25%;
    }


    .vl {
        border-left: 1px solid rgb(94, 94, 94);
        height: 100%;
        position: absolute;
        left: 5%;
        top: 0;
    }

    .bgcircle {
        border-radius: 50%;
        background-size: cover;
        left: 20%;
        /* top: 943px; */
        top: 87%;
        overflow: hidden;
        position: absolute;
        /* width: 315px; */
        width: 16%;
    }

    #circle svg {
        position: absolute;
        /* width: 884px; */
        width: 46%;
        /* left: 95px; */
        left: 4.9%;
        /* top: 655px; */
        top: 60.6%;
    
        -webkit-animation-name: rotate;
    
        animation-name: rotate;
    
        animation-duration: 10s;
    
        -o-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
    
        animation-timing-function: linear;
    }
    

}




@media screen and (min-width: 3000px) {


    .cimg2 {
        float: right;
        position: relative;
        top: -240px;
        width: 46%;
    }
    
    .brand img{
        height: 100px;
    }

    
    #brand a img{
        height: 80px;
    }
    


}
