@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wdth,wght@75,200;100,200;125,200;125,300;125,400;125,500&family=Noto+Sans+JP:wght@100;300;400;500;700&display=swap');

html {
    overflow-x: hidden;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #111111;
    margin: 0;
    overflow-x: hidden;
    font-size: 1.1111111111111112vw;
    color: #FFF;
    font-stretch: expanded;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 4.375vw;
        color: #FFF;
    }
}

/* preloader */

.loader_bg {
    position: fixed;
    z-index: 999999;
    background: #151515;
    width: 100%;
    height: 100%;
}

.loader-line {
    width: 107vw;
    height: 3px;
    position: relative;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    top: 50%;
    left: -5%;
    margin: 0;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    transform: rotate(-15deg);
}

.loader-line:before {
    content: "";
    position: absolute;
    height: 3px;
    width: 10%;
    background-color: rgb(255, 255, 255);
    -webkit-animation: lineAnim 1s linear infinite;
    -moz-animation: lineAnim 1s linear infinite;
    animation: lineAnim 1s linear infinite;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

@keyframes lineAnim {
    0% {
        left: -40%;
    }

    50% {
        left: 20%;
        width: 80%;
    }

    100% {
        left: 100%;
        width: 100%;
    }
}

/* background effects */

.bg {
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 200vh;
    background: transparent url("https://github.com/OnnPoynt/BiSTE/blob/main/image_files/100-90-10-monochrome.png?raw=true") repeat 0 0;
    background-repeat: repeat;
    animation: bg-animation .2s infinite;
    opacity: .8;
    visibility: visible;
    z-index: -999;
    overflow: hidden;
}

@keyframes bg-animation {
    0% {
        transform: translate(0, 0)
    }

    10% {
        transform: translate(-5%, -5%)
    }

    20% {
        transform: translate(-10%, 5%)
    }

    30% {
        transform: translate(5%, -10%)
    }

    40% {
        transform: translate(-5%, 15%)
    }

    50% {
        transform: translate(-10%, 5%)
    }

    60% {
        transform: translate(15%, 0)
    }

    70% {
        transform: translate(0, 10%)
    }

    80% {
        transform: translate(-15%, 0)
    }

    90% {
        transform: translate(10%, 5%)
    }

    100% {
        transform: translate(5%, 0)
    }
}

/* navbar */

header a {
    text-decoration: none;
}

header {
    padding: 10px 0px 10px 6px;
    padding: 0.7% 0% 0.7% 0.5%;
    height: 5.9171597633136095vh;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid rgb(94, 94, 94);
    align-items: center;
}

#brand img {
    width: 4.583333333333333vw;
}

#brand {
    font-weight: bold;
    display: flex;
    width: 4.583333333333333vw;
}

#brand a {
    color: #FFF;
}

ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-items: baseline;
}

ul a {
    color: white;
}

ul li {
    padding: 2.159090909090909vh 4.375vw 2.159090909090909vh 1.3194444444444444vw;
    margin-left: 0.6944444444444444vw;
    font-size: 1.1111111111111112vw;
}

li:nth-child(2) {
    padding-right: 5.902777777777778vw;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: line-through;
}

.header-buttons li:nth-child(3) {
    background-image: url(https://github.com/OnnPoynt/BiSTE/blob/main/image_files/gradiation_sample_biste.png?raw=true);
    background-size: cover;
    overflow: hidden;
    padding: 1.3888888888888888vw 8.181818181818182vh 1.1805555555555556vw 8.181818181818182vh;
}

.header-buttons li:nth-child(3) a {
    color: #111111;
    font-weight: 500;
    font-family: 'Anek Bangla', sans-serif;
    letter-spacing: 0.04em;
    font-size: 2.1301775147928996vh;
}

.header-buttons li a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 0;
    position: relative;
}

.header-buttons li a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    top: 2vw;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.header-buttons li a:hover:after {
    width: 100%;
    left: 0;
}

@media screen and (max-height: 300px) {
    ul {
        margin-top: 40px;
    }
}


#hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
}

#hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    background-color: #151515;
    z-index: 999;
}

.mobile-menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    height: calc(100vh - 5.9171597633136095vh);
    width: 100%;
    background-color: #151515;
}

.mobile-menu li {
    /* margin-bottom: 10px; */
    padding: 0;
    font-size: 10vw;
    text-decoration: none;
    z-index: 999;
    font-stretch: expanded;
    font-family: 'Anek Bangla', sans-serif;
    text-decoration: underline 0.5px;
    margin-top: 16.666666666666668vh;
}

.mobile-menu .marginnashi {
    margin: 0;
}

.menutxt {
    border-top: 0.5px solid rgb(94, 94, 94);
    font-size: 4.375vw;
    line-height: 170%;
    position: absolute;
    bottom: 8%;
    margin: 0px;
    padding: 5%;
}

.pchild {
    margin-top: 0;
}

.pchild-1 {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 100;
    opacity: 0.8;
}

.pchild-2 {
    font-family: 'Anek Bangla', sans-serif;
    opacity: 0.5;
    text-decoration: underline;
    font-weight: 100;
    font-stretch: expanded;
}

@media only screen and (max-width: 600px) {
    header nav {
        display: none;
    }

    #hamburger-icon {
        display: block;
    }

    .bg {
        height: 390vh;
    }
}

@media (min-aspect-ratio: 640/323) {
    li:nth-child(3) {
        padding: 1.3888888888888888vw 8.181818181818182vh 1vw 8.181818181818182vh;
    }
}

@media only screen and (max-width: 600px) {

    header {
        padding: 1% 4%;
        border: none;
    }

    #brand {
        width: 15.625vw;
    }

    #brand img {
        width: 15.625vw;
    }

}

/* lines */

.vl {
    border-left: 0.5px solid rgb(94, 94, 94);
    height: 100%;
    position: absolute;
    left: 5.555555555555555vw;
    top: 0;
}

.verticaltext_content {
    transform: rotate(270deg);
    top: 20.454545454545453vh;
    left: -1.1111111111111112vw;
    position: absolute;
    color: #FFF;
    /* font-size: 60px; */
    font-size: 4.166666666666667vw;
    font-family: 'Anek Bangla', sans-serif;
}

.verticaltext_content-2 {
    color: #FFF;
    position: absolute;
    top: 31.818181818181817vh;
    left: 3.1944444444444446vw;
    writing-mode: vertical-rl;
    font-family: 'Noto Sans JP', sans-serif;
    transform: scale(1, .35);
    /* font-size: 44px; */
    font-size: 3.0555555555555554vw;
}

.vertical-text {
    transform: rotate(270deg);
    position: absolute;
    color: #FFF;
    top: 80%;
    left: -3.888888888888889vw;
    font-family: 'Anek Bangla', sans-serif;
    font-style: normal;
    font-weight: 100;
    /* font-size: 12px; */
    font-size: 0.8333333333333334vw;
    letter-spacing: 0.04em;
    line-height: 1.2;
    color: rgba(255, 255, 255, 0.5);
}

.vla {
    display: none;
}

.vlc {
    display: none;
}

@media only screen and (max-width: 600px) {
    .vl {
        left: 10%;
        opacity: 0.4;
    }

    .vla {
        display: block;
        left: 10%;
        opacity: 0.4;
    }

    .vlc {
        display: block;
        left: 10%;
        opacity: 0.4;
    }


    .verticaltext_content {
        top: 14vh;
        left: -2.5vw;
        position: absolute;
        color: #FFF;
        font-size: 7.81vw;
    }

    .verticaltext_content-2 {
        color: #FFF;
        position: absolute;
        top: 21.818181818181817vh;
        font-weight: 300;
        left: 5.9vw;
        writing-mode: vertical-rl;
        font-family: 'Noto Sans JP', sans-serif;
        transform: scale(1, .4);
        font-size: 6.0555555555555554vw;
    }

    .vertical-text {
        display: none;
    }

}


/* text-effects */

.main-text {
    /* font-size: 100px; */
    font-size: 6.944444444444445vw;
    color: #FFF;
    line-height: 100%;
    right: 3.0555555555555554vw;
    top: 42%;
    /* top: 364px; */
    margin: 0px;
    position: absolute;
    font-family: 'Anek Bangla', sans-serif;
    font-weight: 500;
    text-align: right;
    z-index: 900;
}

.jp-text {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    /* font-size: 18px; */
    font-size: 1.25vw;
    position: absolute;
    top: 81.36363636363636vh;
    /* top: 83.5%; */
    right: 5.138888888888889vw;
    /* right: 5%; */
    text-align: right;
    line-height: 200%;
    letter-spacing: 0.04em;
}

@media (min-aspect-ratio: 640/323) {
    .jp-text {
        font-size: 0.9375vw;
    }
}

@media only screen and (max-width: 600px) {
    .main-text {
        font-size: 11.25vw;
        top: 57.57142857142857vh;
        top: 121.875vw;
    }

    .jp-text {
        font-size: 4.375vw;
        top: 157vw;
        letter-spacing: 0.01em;
        font-weight: 100;
    }
}

/* picture effects */

.pixels-1 {
    position: absolute;
    /* height: 640px; */
    /* width: 34.72222222222222vw; */
    height: 72.61363636363636vh;
    /* width: 35%; */
    top: 0%;
    left: 10%;
    left: 11.11111111111111vw;
}

.bars-1 {
    position: absolute;
    /* height: 56.81818181818182vh; */
    width: 12.5vw;
    /* top: 208px; */
    top: 24%;
    right: 26.38888888888889vw;
}

.bars-2 {
    position: absolute;
    /* height: 56.81818181818182vh; */
    width: 12.5vw;
    /* top: 128px; */
    top: 15%;
    right: 11.11111111111111vw;
}

.bars-3 {
    display: none;
}

.bars-4 {
    display: none;
}

@media only screen and (max-width: 600px) {
    .pixels-1 {
        width: 77.5vw;
        height: auto;
        top: 17.5vw;
        left: 20vw;
    }

    .bars-1 {
        display: none;
    }

    .bars-2 {
        display: none;
    }

    .bars-3 {
        display: block;
        position: absolute;
        /* height: 304px; */
        width: 27.5vw;
        top: 238.16666666666667vw;
        left: 5vw;
    }

    .bars-4 {
        display: block;
        position: absolute;
        /* height: 304px; */
        width: 27.5vw;
        top: 255.5vw;
        left: 36.25vw;
    }

}

@media (min-aspect-ratio: 640/323) {
    body {
        font-size: 0.9375vw;
    }

    .pixels-1 {
        position: absolute;
        /* height: 640px; */
        /* width: 34.72222222222222vw; */
        height: 76.61363636363636vh;
        /* width: 35%; */
        top: 0%;
        left: 10%;
        left: 11.11111111111111vw;
    }

    .bars-1 {
        position: absolute;
        /* height: 56.81818181818182vh; */
        width: 11.5vw;
        /* top: 208px; */
        top: 24%;
        right: 26.38888888888889vw;
    }

    .bars-2 {
        position: absolute;
        /* height: 56.81818181818182vh; */
        width: 11.5vw;
        /* top: 128px; */
        top: 15%;
        right: 12.11111111111111vw;
    }

    .main-text {
        top: 34%;
        font-size: 6.5vw;
    }

}

/* circle effects */

.circle {
    font-family: 'Anek Bangla', sans-serif;
    position: relative;
    width: 400px;
    height: 400px;
    width: 20.833333333333332vw;
    height: 20.833333333333332vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 44vw;
    left: 18vw;
}

.logo {
    position: absolute;
    width: 15.625vw;
    height: 15.625vw;
    background-image: url(https://github.com/OnnPoynt/BiSTE/blob/main/image_files/gradiation_sample_biste.png?raw=true);
    background-size: cover;
    border-radius: 50%;
}

.text {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: textAnimation 10s linear infinite;
}

@keyframes textAnimation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.text span {
    position: absolute;
    left: 50%;
    font-size: 1.2em;
    transform-origin: 0 10.416666666666666vw;
}

@media (min-aspect-ratio: 640/323) {
    .circle {
        top: 37vw;
        left: 15vw;
    }
}

@media only screen and (min-width: 300px) and (max-width: 350px) {
    .circle {
        width: 280px;
        height: 280px;
        top: 193vw;
        left: 41vw;
        margin-bottom: 242vw;
    }

    .logo {
        width: 180px;
        height: 180px;
    }

    .text span {
        transform-origin: 0 140px;
    }
}

@media only screen and (min-width: 350px) and (max-width: 600px) {
    .circle {
        width: 280px;
        height: 280px;
        top: 200vw;
        left: 46vw;
        margin-bottom: 242vw;
    }

    .logo {
        width: 180px;
        height: 180px;
    }

    .text span {
        transform-origin: 0 140px;
    }
}

@media only screen and (min-width: 400px) and (max-width: 600px) {
    .circle {
        width: 300px;
        height: 300px;
        top: 200vw;
        left: 46vw;
        margin-bottom: 242vw;
    }

    .logo {
        width: 200px;
        height: 200px;
    }

    .text span {
        transform-origin: 0 150px;
    }
}

/* first part */

#first-part {
    position: relative;
    margin-top: 60.36363636363636vh;
    text-align: center;
}

.spimg {
    display: none;
}

.bgtext {
    font-size: 27.77777777777778vw;
    font-family: 'Anek Bangla', sans-serif;
    font-stretch: condensed;
    text-align: center;
    opacity: 4%;
    font-weight: 300;
    z-index: -99;
    padding-top: 10.227272727272727vh;
}

.part-1 {
    position: relative;
    display: flex;
    flex-direction: column;
    top: -54.54545454545455vh;
}

.bistetxt {
    /* font-size: 100px; */
    font-size: 6.944444444444445vw;
    font-family: 'Anek Bangla', sans-serif;
    z-index: 999;
    font-weight: 500;
}

.ptext {
    line-height: 242%;
    /* font-size: 20px; */
    font-size: 1.3888888888888888vw;
    font-weight: 500;
    letter-spacing: 0.01em;
}

.images-first {
    display: flex;
    justify-content: space-evenly;
    padding: 0px 4.166666666666667vw 9.090909090909092vh 4.166666666666667vw;
    margin-top: -30.681818181818183vh;
}

.firstimgs {
    height: 66.98224852071006vh;
}

.images-first img:nth-child(1) {
    margin-top: -6%;
}

.images-first img:nth-child(3) {
    margin-top: -7.7%;
}

.images-first img:nth-child(4) {
    margin-top: -4.6%;
}

.images-first img:nth-child(5) {
    margin-top: 1%;
}

.images-first img:nth-child(6) {
    margin-top: -7.7%;
}

@media (min-aspect-ratio: 640/323) {
    .part-1 {
        top: -68.54545454545455vh;
    }

    .ptext {
        font-size: 1.0416666666666667vw;
    }
}

@media only screen and (max-width: 600px) {
    .images-first {
        display: flex;
        justify-content: space-evenly;
        margin-top: -60vh;
        overflow: hidden;
    }

    .firstimgs {
        /* height: 66.98224852071006vh; */
        width: 36.25vw;
        padding: 10px;
    }

    .images-first img:nth-child(3) {
        margin-top: 0;
    }

    .images-first img:nth-child(4) {
        margin-top: 0;
    }

    .images-first img:nth-child(5) {
        margin-top: 0;
    }

    .images-first img:nth-child(6) {
        margin-top: 0;
    }

    .images-first img:nth-child(1) {
        display: none;
    }

    .images-first img {
        margin: 0;
    }

    #first-part {
        position: relative;
        margin-top: 140vw;
    }

    .part-1 {
        position: relative;
        display: flex;
        flex-direction: column;
        top: -63vh;
        align-items: center;
        padding: 0px 4vw;
    }

    .bistetxt {
        font-size: 12.5vw;
        font-family: 'Anek Bangla', sans-serif;
        z-index: 999;
        font-weight: 500;
    }

    .ptext {
        line-height: 242%;
        font-size: 5vw;
        font-weight: 200;
        letter-spacing: 0.01em;
        text-align: left;
    }

    .bgtext {
        font-size: 75vw;
        transform: rotate(90deg);
        font-family: 'Anek Bangla', sans-serif;
        opacity: 4%;
        font-weight: 300;
        z-index: -99;
        white-space: nowrap;
        position: relative;
        left: -16.5625vw;
    }

}

@media only screen and (min-width: 350px) and (max-width: 600px) {
    #first-part {
        position: relative;
        margin-top: 192vw;
    }

}

/* @media (min-aspect-ratio: 3840/1874) {
    .part-1 {
        top: -68.54545454545455vh;
    }
} */


/* marketing */

#marketing {
    position: relative;
    /* margin-top: 200px; */
    margin-top: 14%;
}

.bgimg-marketing {
    width: 100%;
    z-index: -999;
    position: absolute;
}

.mkt1 {
    padding: 14.545454545454545vh 5.972222222222222vw 14.545454545454545vh 8.333333333333334vw;
    /* padding: 9% 5% 8.5% 6%; */
}

.mkt1 :nth-child(2) {
    position: relative;
    /* font-size: 100px; */
    font-size: 6.944444444444445vw;
    font-weight: 500;
    font-family: 'Anek Bangla', sans-serif;
    letter-spacing: -0.04em;
    text-align: left;
    /* left: 16.5%; */
    top: -2.272727272727273vh;
}

.mkt1 :nth-child(3) {
    position: relative;
    font-weight: 500;
    line-height: 200%;
    /* padding-left: 30px; */
    padding-left: 0.4166666666666667vw;
    top: -5.681818181818182vh;
}

.img1 {
    width: 36.80555555555556vw;
    float: right;
}

.mkt-2 {
    position: relative;
}

.img2 {
    position: absolute;
    float: left;
    /* left: 68px; */
    left: 5%;
    /* top: -130px; */
    top: -18.636363636363637vh;
    width: 39.513888888888886vw;
}

.mkt-2 :nth-child(2) {
    /* font-size: 32px; */
    font-size: 2.2222222222222223vw;
    font-weight: 700;
    margin-left: 50%;
}

.mkt-2 :nth-child(3) {
    font-weight: 400;
    line-height: 200%;
    opacity: 0.9;
    margin-left: 50%;
    margin-top: 24px;
    margin-top: 2%;
}

@media (min-aspect-ratio: 640/323) {
    .mkt1 {
        padding: 18.545454545454547vh 5.972222222222222vw 17.545454545454545vh 8.333333333333334vw;
    }

}

@media only screen and (max-width: 600px) {
    .bgimg-marketing {
        z-index: -999;
        position: absolute;
        top: -209px;
        width: auto;
        height: 1063px;
        left: -522px;
        opacity: 0.8;
        overflow-x: hidden;
    }

    .mkt1 {
        padding: 0 4%;
    }

    .img1 {
        display: none;
    }

    .mkt1 :nth-child(2) {
        position: relative;
        /* font-size: 100px; */
        font-size: 12.5vw;
        font-weight: 500;
        font-family: 'Anek Bangla', sans-serif;
        letter-spacing: -0.04em;
        text-align: left;
        /* left: 16.5%; */
        top: -2.272727272727273vh;
    }

    .mkt1 :nth-child(3) {
        position: relative;
        font-size: 5vw;
        font-weight: 500;
        line-height: 200%;
        /* padding-left: 30px; */
        padding-left: 0.4166666666666667vw;
        top: -5.681818181818182vh;
    }

    .img2 {
        display: none;
    }

    .spimg {
        display: block;
        width: 89.0625vw;
        position: relative;
        left: 1%;
    }

    .mkt-2 {
        padding: 0 4%;
    }

    .mkt-2 :nth-child(2) {
        font-size: 5vw;
        margin: auto;
        padding-top: 5vw;
    }

    .mkt-2 :nth-child(3) {
        font-size: 4.375vw;
        margin: 8% 0 0 0;
        font-weight: 200;
    }


}

/* @media (min-aspect-ratio: 3840/1874) {
    .mkt1{
        padding: 19.545454545454547vh 5.972222222222222vw 14.545454545454545vh 8.333333333333334vw;
    }

} */


/* consulting */

#consulting {
    position: relative;
    margin: 52.09090909090909vh 0px;
}

.bgimg-consulting {
    position: absolute;
    z-index: -999;
    width: 100%;
    overflow-x: hidden;
}

.ct1 {
    /* padding: 165px 110px 60px 77px; */
    padding: 18.75vh 6.319444444444445vw 6.818181818181818vh 5.347222222222222vw;
}

.cimg1 {
    float: left;
    position: relative;
    top: -7.386363636363637vh;
    width: 38.888888888888886vw;
    /* width: 45%; */
}

.ct1 div:nth-child(2) {
    position: relative;
    /* font-size: 100px; */
    font-size: 6.944444444444445vw;
    font-weight: 500;
    font-family: 'Anek Bangla', sans-serif;
    letter-spacing: -0.04em;
    text-align: right;
    top: -2.272727272727273vh;
    /* right: 15px; */
    /* right: 15%; */
}

.ct1 div:nth-child(3) {
    text-align: right;
    /* font-weight: 400; */
    position: relative;
    top: -4.545454545454546vh;
}

.ct2 {
    padding: 1vw 3.4722222222222223vw 0px 8.055555555555555vw;
    /* padding: 0% 3.5% 0% 7.5%; */
}

.cimg2 {
    float: right;
    position: relative;
    top: -8.295454545454545vh;
    /* height: 39%; */
    /* width: 46%; */
    width: 41.111111111111114vw;
}

.ct2 div:nth-child(2) {
    font-weight: 700;
    /* font-size: 3.78698224852071vh; */
    font-size: 2.2222222222222223vw;
    line-height: 150%;
    margin-bottom: 2.272727272727273vh;
}

.ct2 div:nth-child(3) {
    /* font-weight: 400; */
    /* font-size: 16px; */
    line-height: 200%;
    opacity: 0.9;
}

@media (min-aspect-ratio: 640/323) {
    #consulting {
        margin: 67.0909090909091vh 0px;
    }

    .ct1 {
        padding: 21.75vh 6.319444444444445vw 9.818181818181818vh 5.347222222222222vw;
    }
}

@media only screen and (max-width: 600px) {
    #consulting {
        position: relative;
        margin: 125px 0 0 0;
        overflow: hidden;
        padding-bottom: 150px;
    }

    .bgimg-consulting {
        width: auto;
        z-index: -999;
        position: absolute;
        top: -165px;
        left: -685px;
        opacity: 0.8;
        overflow-x: hidden;
    }

    .cimg1 {
        display: none;
    }

    .ct1 {
        padding: 0% 4% 8.5% 4%;
    }

    .ct1 div:nth-child(2) {
        position: relative;
        /* font-size: 100px; */
        font-size: 12.5vw;
        font-weight: 500;
        font-family: 'Anek Bangla', sans-serif;
        letter-spacing: -0.04em;
        text-align: left;
        /* left: 16.5%; */
        top: -20px;
    }

    .ct1 div:nth-child(3) {
        text-align: left;
        position: relative;
        font-weight: 500;
        line-height: 200%;
        padding-left: 2%;
        top: -35px;
        font-size: 5vw;
        font-weight: 400;
    }

    .ct2 {
        /* padding: 0px 70px 0px 120px; */
        padding: 0% 4% 0% 4%;
    }

    .cimg2 {
        display: none;
    }

    .ct2 div:nth-child(2) {
        font-size: 5vw;
        font-weight: 400;
    }

    .ct2 div:nth-child(3) {
        font-weight: 200;
        line-height: 200%;
        opacity: 0.9;
        margin-top: 24px;
        margin-top: 2%;
    }

}

/* @media (min-aspect-ratio: 3840/1874) {} */

/* coming soon */

#coming-soon {
    position: relative;
}

.bgfinal {
    z-index: -999;
    width: 100%;
    position: absolute;
    overflow-x: hidden;
}

.textcs {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* padding-top: 385px; */
    /* margin-bottom: 570px; */
    margin-bottom: 40%;
    padding-top: 27%;
    width: 100%;
}

.textcs div:nth-child(1) {
    font-weight: 700;
    font-size: 6.627218934911243vh;
    line-height: 110%;
    letter-spacing: 0.2em;
}

.textcs div:nth-child(2) {
    font-weight: 600;
    font-size: 2.8402366863905324vh;
    line-height: 110%;
    /* transform: scale(1.2, 0.9); */
    font-family: 'Anek Bangla', sans-serif;
    padding: 1.1363636363636365vh 0px 3.409090909090909vh 0px;
}

.textcs div:nth-child(3) {
    font-weight: 400;
    line-height: 200%;
}

@media only screen and (max-width: 600px) {

    #coming-soon {
        position: relative;
        margin-top: -60px;
        overflow: hidden;
    }

    .bgfinal {
        width: auto;
        z-index: -999;
        position: absolute;
        top: -85px;
        left: -556px;
        opacity: 0.8;
    }

    .textcs {
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 38%;
        padding-top: 27%;
        padding: 0 4%;
    }

    .textcs div:nth-child(1) {
        font-weight: 700;
        font-size: 10vw;
        line-height: 110%;
        letter-spacing: 0.2em;
    }

    .textcs div:nth-child(2) {
        font-weight: 600;
        font-size: 2.8402366863905324vh;
        line-height: 110%;
        font-family: 'Anek Bangla', sans-serif;
        padding: 10px 0px 30px 0px;
    }

    .textcs div:nth-child(3) {
        font-weight: 200;
        line-height: 200%;
    }

}

/* about us */

/* text information */

.about {
    text-align: center;
    font-weight: 300;
    font-size: 6.944444444444445vw;
    /* font-size: 100px; */
    font-family: 'Anek Bangla', sans-serif;
    margin-top: 18.363636vh;
}

#profile {
    /* padding-left: 120px; */
    padding-left: 8.5%;
    text-align: left;
}

.info {
    border-bottom: 0.5px solid rgb(94, 94, 94);
    margin-right: 8.333333333333334vw;
    padding-bottom: 2.272727272727273vh;
    /* font-weight: 300; */
    font-size: 2.2222222222222223vw;
    font-weight: 500;
    /* font-size: 32px; */
    line-height: 150%;

}

.info-sub-1 {
    display: flex;
    font-weight: 400;
    opacity: 0.7;
}

.info-sub-1>div {
    /* padding: 60px 300px 20px 0px; */
    padding: 5% 23% 1% 0%;
}

/* .info-1 {
    width: 10%;
} */

.google {
    position: absolute;
    color: rgb(197, 197, 197);
    font-family: 'Anek Bangla', sans-serif;
    font-weight: 100;
    margin-top: 1vW;
}

@media only screen and (max-width: 600px) {
    .about {
        font-size: 12.25vw;
        text-align: center;
        padding: 7%;
        line-height: 130%;
    }

    #profile {
        padding: 0 4% 30% 4%;
    }

    .info {
        font-size: 7.5vw;
    }

    .info-sub-1 {
        display: flex;
        flex-direction: column;
        font-weight: 400;
        opacity: 0.7;
        padding-bottom: 6.666666666666667vh;
    }

    .info-1 {
        font-size: 5vw;
        opacity: 0.7;
        font-weight: 200;
        line-height: 300%;

    }

    .info-2 {
        font-size: 5vw;
        font-weight: 200;
    }

    .google {
        position: relative;
        top: 5vw;
    }

    .info-sub-1 div {
        padding: 0;
    }
}


/* mission */

#mission {
    /* padding-left: 120px; */
    padding-left: 8.5%;
    text-align: left;
    margin-top: 16.227272727272727vh;
}

.mission-1 {
    font-size: 7.57396449704142vh;
    font-weight: 400;
}

.info-all {
    border-bottom: 0.5px solid rgb(94, 94, 94);
    margin-right: 8.333333333333334vw;
    padding-bottom: 2.272727272727273vh;
    font-weight: 300;
    font-size: 3.78698224852071vh;
    font-family: 'Anek Bangla', sans-serif;
}

.mission-info-1 {
    font-weight: 100;
    line-height: 3.5502958579881656vh;
}

@media only screen and (max-width: 600px) {
    #mission {
        display: none;
    }
}

/* STANCE */

#stance {
    /* padding-left: 120px; */
    padding-left: 8.5%;
    text-align: left;
    margin: 16.227272727272727vh 0px 27.272727272727273vh 0px;
}

@media only screen and (max-width: 600px) {
    #stance {
        display: none;
    }
}


/* contact us form */

.uptxt {
    position: relative;
    margin: 0px 0px 0px 8.4%;
}

.contact {
    font-weight: 300;
    font-size: 6.944444444444445vw;
    font-family: 'Anek Bangla', sans-serif;
    margin: 18.363636vh 0px 0px 0px;
}

.under-txt {
    margin: 0px;
    font-weight: 300;
    font-size: 1.1111111111111112vw;
    line-height: 170%;
    letter-spacing: 0.05em;
}

.tel {
    position: relative;
    font-family: 'Anek Bangla', sans-serif;
    font-size: 2.8402366863905324vh;
    font-weight: 300;
    font-stretch: normal;
    letter-spacing: 0.05em;
    margin-bottom: 11.363636363636363vh;
}

.tel span {
    position: absolute;
    font-size: 0.9722222222222222vw;
    font-weight: 200;
    font-stretch: normal;
    line-height: 100%;
    color: rgb(210, 210, 210);
    opacity: 0.5;
    top: 45%;
}

@media only screen and (max-width: 600px) {
    .contact {
        font-size: 12.5vw;
        text-align: center;
        font-weight: 500;
    }

    .uptxt {
        margin: 0;
        padding: 0 4%;
    }

    .under-txt {
        font-size: 4.375vw;
        opacity: 0.7;
        font-weight: 200;
    }

    .tel {
        text-align: center;
        font-size: 7.5vw;
    }

    .tel span {
        position: relative;
        text-align: left;
        font-size: 4.0625vw;
        top: 7.8125vw;
        left: -20.3125vw;
    }
}

/* form */

.formbox {
    padding: 0px 8.4%;
}

.required {
    color: red;
    font-weight: 800;
}

label {
    letter-spacing: 0.05em;
    font-weight: 400;
}

input[type=text],
select,
textarea {
    font-size: 1.893491124260355vh;
    background: transparent;
    width: 100%;
    padding: 1.4201183431952662vh;
    border: 0.11363636363636363vh solid rgba(137, 137, 137, 0.3);
    border-radius: 1px;
    box-sizing: border-box;
    /* margin: 15px 0px 55px 0px; */
    margin: 1.5% 0 4.5% 0;
    resize: none;
    color: #FFF;
}

/* Style the submit button with a specific background color etc */

input[type=submit] {
    font-size: 1.893491124260355vh;
    background-color: #000000;
    color: white;
    /* padding: 60px 20px; */
    padding: 5% 1%;
    border: none;
    cursor: pointer;
    width: 100%;
    margin: 20% 0%;
}

input[type=submit]:hover {
    background-color: #0e0e0e;
}

.checkbox {
    width: 0.78125vw;
    height: 0.78125vw;
}


@media only screen and (max-width: 600px) {
    .formbox {
        padding: 0 4%;
    }

    input[type=text],
    select,
    textarea {
        font-size: 4.375vw;
        background: transparent;
        width: 100%;
        padding: 3.4201183431952662vh;
        border: 0.11363636363636363vh solid rgba(137, 137, 137, 0.3);
        border-radius: 1px;
        box-sizing: border-box;
        /* margin: 15px 0px 55px 0px; */
        margin: 6% 0 9% 0;
        resize: none;
        color: #FFF;
    }

    /* Style the submit button with a specific background color etc */

    input[type=submit] {
        font-size: 4.375vw;
        background-color: #000000;
        color: white;
        /* padding: 60px 20px; */
        padding: 10% 1%;
        border: none;
        cursor: pointer;
        width: 100%;
        margin: 20% 0%;
    }

    #message {
        padding: 3.4201183431952662vh 3.4201183431952662vh 15.4201183431952662vh 3.4201183431952662vh;
    }

    .checkbox {
        width: auto;
        height: auto;
    }

}


/* contact button and footer */

#contact {
    background-color: #E1E1E1;
    position: relative;
}

.background-txt {
    /* font-size: 400px; */
    font-size: 27.77777777777778vw;
    font-stretch: condensed;
    font-weight: 200;
    font-family: 'Anek Bangla', sans-serif;
    text-align: center;
    color: #151515;
    opacity: 4%;
    font-weight: 300;
    z-index: -99;
}

.contact-btn {
    position: absolute;
    top: 35%;
    left: 23.958333333333332vw;
    z-index: 999;
}

h5 {
    color: #111111;
    font-size: 100px;
    font-size: 6.944444444444445vw;
    /* transform: scale(1, 0.8); */
    font-weight: 500;
    font-family: 'Anek Bangla', sans-serif;
    margin: 0;
}

.yes {
    float: right;
    position: absolute;
    left: 115%;
    height: 75%;
    top: 20%;
    border-radius: 50%;
    border: solid black 2px;
    top: 20%;
}

.yesmain {
    display: none;
}

.btn-under {
    color: #111111;
    margin: 0;
    top: 80%;
    position: absolute;
    font-weight: 400;
    opacity: 0.6;
    font-size: 1.1111111111111112vw;
}

.arrow {
    position: absolute;
    left: 879px;
    top: 290px;
    padding: 2.6041666666666665vw;
    left: 60.9vw;
    top: 18.7vw;
    color: #000000;
    margin: 1em 0;
    z-index: 99999;
}

.arrow::after {
    font-family: 'Courier New', Courier, monospace;
    display: inline-block;
    font-size: 5.555555555555555vw;
    font-weight: 100;
    /* padding-left: 8px; */
    content: "→";
    transition: transform 0.3s ease-out;
}

.arrow:hover {
    color: #000000;
}

.arrow:hover::after {
    transform: translateX(28%);
}

@media (min-aspect-ratio: 640/323) {
    .contact-btn {
        left: 24.479166666666668vw;
    }
}

@media (max-aspect-ratio: 18/11) {
    .arrow {
        top: 18.5vw;
        left: 60vw;
    }
}

@media only screen and (max-width: 600px) {
    #contact {
        height: 100vh;
    }

    #contact a {
        text-decoration: none;
    }

    .background-txt {
        display: none;
    }

    .contact-btn {
        position: relative;
        top: 164px;
        top: 30vh;
        left: 0;
        text-align: center;
    }

    h5 {
        font-size: 12.5vw;
    }

    .yes {
        position: relative;
        top: 40px;
        left: 0px;
        float: none;
        width: 45vw;
        display: none;
    }

    .btn-under {
        position: relative;
        font-size: 5vw;
    }

    .yesmain {
        position: relative;
        display: inline;
        top: 40px;
        left: 0px;
        float: none;
    }

    .arrow::after {
        display: none;
    }
}

/* footer */

#footer {
    background-color: #151515;
    /* padding: 130px 0px 50px 0px; */
    padding: 9% 0% 6% 0%;
    z-index: 999;
}

.brand img {
    position: absolute;
    width: 5.694444444444445vw;
    margin: 2% 0 0 15%;
}

.stuff {
    display: flex;
    justify-content: flex-end;
    z-index: 999;
    /* padding: 0px 200px; */
    padding: 0% 11.5%;
    font-weight: 400;
    margin-top: 3.409090909090909vh;
}

.footerbtns {
    position: relative;
    color: #FFF;
    font-family: 'Anek Bangla', sans-serif;
    /* float: right; */
    margin: 1.1363636363636365vh 0px 0px 5.555555555555555vw;
    font-size: 1.3888888888888888vw;
    text-decoration: none;
}

.stuff a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.stuff a:hover:after {
    width: 100%;
    left: 0;
}

.last {
    color: rgb(157, 157, 157);
    font-family: 'Anek Bangla', sans-serif;
    z-index: 999;
    display: flex;
    justify-content: flex-end;
    font-weight: 100;
    margin-right: 11%;
    padding-top: 2.272727272727273vh;
}

@media only screen and (max-width: 600px) {
    #footer {
        height: 32vh;
        text-align: center;
        padding: 0 8%;
    }

    #footer img {
        margin: 20px 0px 0px 30px;
        position: relative;
        width: 66px;
        float: left;
    }

    .stuff {
        display: flex;
        flex-direction: column;
    }

    .footerbtns {
        font-size: 5vw;
    }

    .last {
        margin: 0;
    }
}