body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #111111;
    margin: 0;
    overflow-x: hidden;
}

/* background effects */

.bg {
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 200vh;
    background: transparent url("https://github.com/OnnPoynt/BiSTE/blob/main/image_files/145-100-40-monochrome.png?raw=true") repeat 0 0;
    background-repeat: repeat;
    animation: bg-animation .2s infinite;
    opacity: .8;
    visibility: visible;
    z-index: -999;
}

@keyframes bg-animation {
    0% {
        transform: translate(0, 0)
    }

    10% {
        transform: translate(-5%, -5%)
    }

    20% {
        transform: translate(-10%, 5%)
    }

    30% {
        transform: translate(5%, -10%)
    }

    40% {
        transform: translate(-5%, 15%)
    }

    50% {
        transform: translate(-10%, 5%)
    }

    60% {
        transform: translate(15%, 0)
    }

    70% {
        transform: translate(0, 10%)
    }

    80% {
        transform: translate(-15%, 0)
    }

    90% {
        transform: translate(10%, 5%)
    }

    100% {
        transform: translate(5%, 0)
    }
}

/* navbar */

header a {
    text-decoration: none;
}

header {
    padding: 10px 0px 10px 13px;
    height: 5.9171597633136095vh;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid rgb(94, 94, 94);
    align-items: center;
}

#brand {
    font-weight: bold;
    font-size: 18px;
    display: flex;
}

#brand a {
    color: #FFF;
}

ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-items: baseline;
}

ul a {
    color: white;
}

ul li {
    padding: 18px 85px;
    margin-left: 10px;
}

ul li:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

li:nth-child(3) {
    background-image: url(https://github.com/OnnPoynt/BiSTE/blob/main/image_files/gradiation_sample_biste.png?raw=true);
    background-size:cover ;
    overflow: hidden;
}

li:nth-child(3) a {
    color: #111111;
    font-weight: 600;
    font-family: 'Anek Bangla', sans-serif;
    letter-spacing: 0.04em;
    font-size: 18px;
}

#hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
}

#hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.mobile-menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    height: calc(100vh - 5.9171597633136095vh);
    width: 100%;
}

.mobile-menu li {
    margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
    header nav {
        display: none;
    }

    #hamburger-icon {
        display: block;
    }
}


/* lines */

.vl {
    border-left:  0.5px solid rgb(94, 94, 94);
    height: 100%;
    position: absolute;
    left: 5%;
    top: 0;
}

.verticaltext_content {
    transform: rotate(270deg) scale(1, .8);
    top: 25%;
    left: -0.75%;
    position: absolute;
    color: #FFF;
    font-size: 10.3vh;
    font-family: 'Anek Bangla', sans-serif;
    letter-spacing: 1%;
}

.verticaltext_content-2 {
    color: #FFF;
    position: absolute;
    top: 38%;
    left: 3.3%;
    writing-mode: vertical-rl;
    font-family: 'Noto Sans JP', sans-serif;
    transform: scale(1, .35);
    font-size: 5vh;
}

.vertical-text {
    transform: rotate(270deg) scale(1, .8);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    position: absolute;
    color: #FFF;
    top: 80%;
    left: -3%;
    font-family: 'Anek Bangla', sans-serif;
    font-size: 2vh;
    font-weight: 100;
}


/* text-effects */

.main-text {
    /* font-size: 17vh; */
    font-size: 15vh;
    color: #FFF;
    right: 13%;
    line-height: 100%;
    width: 50vw;
    top: 32%;
    /* top: 500px; */
    margin: 0px;
    /* top: 300px; */
    /* left: 860px; */
    /* padding-right: 115px; */
    /* line-height: 130px; */
    position: absolute;
    font-family: 'Anek Bangla', sans-serif;
    transform: scale(1.2, .9);
    text-align: right;
    /* font-weight: 400; */
    z-index: 999;
}

.jp-text {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 2vh;
    font-weight: 400;
    letter-spacing: 2%;
    color: #FFF;
    position: absolute;
    top: 82%;
    right: 11%;
    text-align: right;
    line-height: 200%;
}

/* picture effects */

.pixels-1 {
    position: absolute;
    height: 75.82938388625593vh;
    top: 0%;
    left: 10%;
}

.bars-1 {
    position: absolute;
    height: 59.171597633136095vh;
    left: 61%;
    top: 23%;
}

.bars-2 {
    position: absolute;
    height: 59.171597633136095vh;
    left: 75%;
    top: 16%;
}


/* circle effects */

.bgcircle {
    border-radius: 50%;
    background-size: cover;
    left: 17.6%;
    bottom: -12%;
    overflow: hidden;
    position: absolute;
    height: 27.218934911242602vh;
    width: 13.489736070381232vw;
}

#container {
    margin: -6px;
}

#circle {
    position: absolute;
    width: 100%;
    padding-bottom: 100%;
    overflow: hidden;
}

#circle text {
    font-family: 'Anek Bangla', sans-serif;
    font-size: 7.65px;
}

#circle svg {

    position: absolute;
    left: 5.95vw;
    top: 25.4vw;
    width: 37.05571847507331vw;

    -webkit-animation-name: rotate;

    animation-name: rotate;

    animation-duration: 10s;

    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

    animation-timing-function: linear;
}


@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);

    }
}


